@import '/node_modules/modern-normalize/modern-normalize.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,700,700italic);

:root {
  --font-size: 16px;
  --offset: 10px;
  --bg-color: #ddd;
  --border-color: #ccc;
  --focus-color: #999;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  background-color: #eee;
  min-width: 320px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: var(--font-size);
}

#root {
  min-height: 100%;
  display: flex;
  overflow: hidden;
}

#root > * {
  min-width: 0;
}

.btn {
  width: 100%;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: var(--offset);
  padding: var(--offset);
}

.btn:focus {
  border: 1px solid var(--focus-color);
}
