.message {
  max-width: 500px;
  padding: var(--offset);
  border-radius: var(--offset);
  border: 1px solid var(--focus-color);
  display: flex;
  flex-direction: column;
  gap: var(--offset);
}

.own {
  align-self: flex-end;
}

.notOwn {
  background: var(--bg-color);
  align-self: flex-start;
}

.message__title {
  font-size: 18px;
  color: var(--focus-color);
}
