.chatItem {
  padding: 0 var(--offset) var(--offset) var(--offset);
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}

.chatItem:not(:last-child) {
  margin-bottom: var(--offset);
}
